/*!
* Description: CSS Styles. 
*/
/**
* These include the SASS files and output them to a CSS file. All the styles
* should make a small css file that can be downloaded once and cached to
* improve the end user experience. If the outputted file is found to be too
* large, it can be broken up into smaller files.
*/
/*!
* Line break
*/
/**
* These are the site core stylings. Things like global a, h1, p stylings 
* should and default page structure go in here. Anything specific to a single 
* page or override should go in the pages sections.
*/
/* line 2, ../sass/structure/_common.scss */
.mainWindow {
  background-image: url("../../assets/images/back.png");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  padding-top: 70px;
}
/* line 8, ../sass/structure/_common.scss */
.mainWindow .chatWrapper {
  height: 90%;
  min-height: 325px;
  width: 90%;
  background-color: darkgrey;
  border-style: solid;
  border-width: 5px;
  position: relative;
  margin-left: 5%;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 10px 10px 10px darkgrey;
}

/* line 2, ../sass/structure/_mainHeader.scss */
.mainHeader {
  background-color: #000;
  color: #ffffff;
  height: 60px;
  width: 180px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 5%;
}

/* line 2, ../sass/structure/_messageEntryFormView.scss */
#messageFormView {
  height: 19.5%;
  width: 100%;
  bottom: 0px;
  position: absolute;
  background-color: darkgrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0px solid #f3f1f1;
}
/* line 11, ../sass/structure/_messageEntryFormView.scss */
#messageFormView #inputMessageBlock {
  height: 32px;
  width: 54%;
  background-color: #ffffff;
  display: inline-block;
  border: 5px inset #f3f1f1;
  position: absolute;
  margin-top: .4%;
  margin-left: 3%;
  margin-bottom: .5%;
}
/* line 22, ../sass/structure/_messageEntryFormView.scss */
#messageFormView #inputMessageButton {
  background-color: #fab83a;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 32px;
  /* height of the background image */
  width: 67px;
  /* width of the background image */
  border: 5px solid #fab83a;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000;
  position: absolute;
  margin-top: .40%;
  margin-left: 60%;
  margin-bottom: 0.5%;
}

/* line 2, ../sass/structure/_messageView.scss */
.messageView {
  height: 65%;
  width: 65%;
  display: inline-block;
  background-color: #ffffff;
  padding-left: 10px;
  overflow: auto;
  border: 5px inset #f3f1f1;
  position: absolute;
  margin-left: 3%;
  margin-top: 5%;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
}
/* line 16, ../sass/structure/_messageView.scss */
.messageView .userMessage {
  color: #000;
}
/* line 19, ../sass/structure/_messageView.scss */
.messageView .userName {
  color: #003B64;
  text-transform: capitalize;
  font-weight: bold;
}

/* line 2, ../sass/structure/_usersOnlineView.scss */
.userListView {
  height: 65%;
  width: 24.5%;
  display: inline-block;
  background-color: #ffffff;
  border: 5px inset #f3f1f1;
  position: absolute;
  margin-top: 5%;
  margin-left: 72%;
}
/* line 11, ../sass/structure/_usersOnlineView.scss */
.userListView .usersOnlineHeader {
  display: block;
  background-color: #fab83a;
  height: 32px;
  width: 100%;
  font-weight: bold;
  text-align: -webkit-center;
  text-align: center;
  position: relative;
}
/* line 21, ../sass/structure/_usersOnlineView.scss */
.userListView .usersOnlineName {
  display: list-item;
  text-align: left;
  list-style-type: disc;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
}

/*!
* Line break
*/
/**
* These are the styles that are page specific. In an ideal world; these would
* not exist as all pages would be similiar.
*
* notes below so files can be either linked to or included globally later if possible
 */
/* Include this last so it overrides settings form pages */
/*!
* Line break
*/

/*# sourceMappingURL=screen.css.map */
