/*!
* Description: CSS Styles. 
*/
/**
* These include the SASS files and output them to a CSS file. All the styles
* should make a small css file that can be downloaded once and cached to
* improve the end user experience. If the outputted file is found to be too
* large, it can be broken up into smaller files.
*/
/* Include the external files/plugins
*/
/*!
* Line break
*/
/**
* These are the site core stylings. Things like global a, h1, p stylings 
* should and default page structure go in here. Anything specific to a single 
* page or override should go in the pages sections.
*/
/* line 1, ../sass/structure/_structure.scss */
.mainWindow {
  background-image: url("/assets/images/back.png");
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  padding-top: 70px;
}
/* line 7, ../sass/structure/_structure.scss */
.mainWindow .mainHeader {
  background-color: #000;
  color: #ffffff;
  height: 60px;
  width: 180px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 5%;
}
/* line 20, ../sass/structure/_structure.scss */
.mainWindow .chatWrapper {
  height: 90%;
  min-height: 325px;
  width: 90%;
  background-color: darkgrey;
  border-style: solid;
  border-width: 5px;
  position: relative;
  margin-left: 5%;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 10px 10px 10px darkgrey;
}
/* line 33, ../sass/structure/_structure.scss */
.mainWindow .messageView {
  height: 65%;
  width: 65%;
  display: inline-block;
  background-color: #ffffff;
  padding-left: 10px;
  overflow: auto;
  border: 5px inset #f3f1f1;
  position: absolute;
  margin-left: 3%;
  margin-top: 5%;
}
/* line 47, ../sass/structure/_structure.scss */
.mainWindow .messageView .messageEntry .userMessage {
  color: #000;
}
/* line 52, ../sass/structure/_structure.scss */
.mainWindow .userListView {
  height: 65%;
  width: 24.5%;
  display: inline-block;
  background-color: #ffffff;
  border: 5px inset #f3f1f1;
  position: absolute;
  margin-top: 5%;
  margin-left: 72%;
}
/* line 61, ../sass/structure/_structure.scss */
.mainWindow .userListView .usersOnlineHeader {
  display: block;
  background-color: #fab83a;
  height: 32px;
  width: 100%;
  font-weight: bold;
  text-align: -webkit-center;
  text-align: center;
  position: relative;
}
/* line 72, ../sass/structure/_structure.scss */
.mainWindow .userListView .userOnlineName {
  text-transform: capitalize;
  display: list-item;
  text-align: left;
  list-style-type: disc;
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
}
/* line 82, ../sass/structure/_structure.scss */
.mainWindow .messageEntryFormView {
  height: 19.5%;
  width: 100%;
  bottom: 0px;
  position: absolute;
  background-color: darkgrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0px solid #f3f1f1;
}
/* line 91, ../sass/structure/_structure.scss */
.mainWindow .messageEntryFormView #inputMessageBlock {
  height: 32px;
  width: 54%;
  background-color: #ffffff;
  display: inline-block;
  border: 5px inset #f3f1f1;
  position: absolute;
  margin-top: .4%;
  margin-left: 3%;
  margin-bottom: .5%;
}
/* line 102, ../sass/structure/_structure.scss */
.mainWindow .messageEntryFormView input[type=submit] {
  background-color: #fab83a;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 32px;
  /* height of the background image */
  width: 67px;
  /* width of the background image */
  border: 5px solid #fab83a;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000;
  position: absolute;
  margin-top: .40%;
  margin-left: 60%;
  margin-bottom: 0.5%;
}
/* line 119, ../sass/structure/_structure.scss */
.mainWindow .userName {
  color: #003B64;
  text-transform: capitalize;
  font-weight: bold;
}
/* line 124, ../sass/structure/_structure.scss */
.mainWindow .loginPage {
  background-color: #003B64;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
}
/* line 130, ../sass/structure/_structure.scss */
.mainWindow .loginPage .loginContainer {
  background-color: #f3f1f1;
  height: 50%;
  width: 50%;
  position: relative;
  margin: 12% 23%;
}
/* line 137, ../sass/structure/_structure.scss */
.mainWindow .loginPage .welcomeMessage {
  padding-top: 10%;
}

/*!
* Line break
*/
/**
* These are the styles that are page specific. In an ideal world; these would
* not exist as all pages would be similiar.
*
* notes below so files can be either linked to or included globally later if possible
 */
/* Include this last so it overrides settings form pages */
/*!
* Line break
*/

/*# sourceMappingURL=screen.css.map */
